#lblInfo {
    margin-top:15;
    margin-left:20;
    margin-right:20;
}

#editorMessageText {
    margin-left: 20;
    margin-right: 20;
}

#btnSendMessage {
    margin-top: 20;
    margin-left: 20;
    margin-right: 20;
}